#back,#backBike {
position: fixed;
	text-align: center;
	line-height: 30px;
	width: 48px;
	top: 50px;
	height: 48px;
	font-size: 12px;
	cursor: pointer;
	right: 5px;
	_position: absolute;
	_right: auto;
	z-index: 999999;
}

#full-top {
position: fixed;
	text-align: center;
	line-height: 30px;
	width: 30px;
	bottom: 35px;
	height: 33px;
	font-size: 12px;
	cursor: pointer;
	right: 0px;
	_position: absolute;
	_right: auto;
	z-index: 999999;
}

#full-btm {
position: fixed;
	text-align: center;
	line-height: 30px;
	width: 30px;
	bottom: 12px;
	height: 33px;
	font-size: 12px;
	cursor: pointer;
	right: 0px;
	_position: absolute;
	_right: auto;
	z-index: 999999;
}

#translate {
	position: fixed;
	top: 70px;
	right: 70px;
	color: #fff;
	font-weight: 700;
	z-index: 99;
	font-size: 1.9em;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

#translate select {
	background-color: transparent;
	border: 1px solid hsla(0, 0%, 0%, 0.2);
}
